.camera__container{
    display: flex;
    flex-direction: row;
    overflow: hidden;

}

.camera__screen{
    object-fit: contain;
    
    
}
.camera__button{
    position:relative;
    left: 35vw;

    button{
        outline: none;
        border-radius: 12px;
        padding: 1rem;
        font-weight: bold;
        background-color: transparent;
        border: none;
        color: $black-gentle;
        box-shadow: -3px -3px 5px $black-gentle inset;
        transition: all 400ms;
        &:hover{
            cursor: pointer;
            box-shadow: -3px -3px 5px $primary inset;
            color: $primary;


        }
    }
}