.control__container{
    background-color: $primary-low;
}

.control__components{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid $dark-gray;
    margin-top: 2rem;
    background-color: transparent;
    padding: 1rem;
    margin: 0.5rem;
    padding: 1rem;
    color: $white-styled;

    text-shadow: 0px 0px 1px $black-styled;

    border-radius: 12px;


    background-color: $black-styled;
    box-shadow: 
        inset 5px 5px 10px $dark-gray, 
        inset -5px -5px 10px $black-styled; 
     ;

    min-width: 25vw;
    min-height: 25vh;

    h1{
        background-color: $black-styled;
    }
    h2{
        background-color: $black-styled;
    }
    transition: all 400ms;
    cursor: pointer;
    &:hover{
        box-shadow: 
        inset 5px 5px 10px $white-styled, 
        inset -5px -5px 10px $tertiary-low;
    }
}