
.dashboard__container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/img/silver-metallic-textured-background.jpg);
    height: 100vh;
}

.dashboard__valves{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}
.dashboard__valve-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    
    min-width: 25vw;
    min-height: 25vh;
    
    color: $white-styled;
    border-radius: 12px;
    border: 3px solid $dark-gray;

    background-color: $black-styled;

    box-shadow: 
        inset 5px 5px 10px $dark-gray, 
        inset -5px -5px 10px $black-styled; 

    h1{
    background-color: $black-styled;

    }
    h2{
    background-color: $black-styled;

    }
    transition: all 400ms;
    cursor: pointer;
    &:hover{

        box-shadow: 
        inset 5px 5px 10px $white-styled, 
        inset -5px -5px 10px $tertiary-low;
    }


}
.dashboard__controls{
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;

    padding: 1rem;


}
.dashboard__camera-card{
    display: flex;
    border: 3px solid $dark-gray;
    margin: 0.5rem;

    padding: 1rem;
    font-size: 4rem;
    min-width: 25vw;
    min-height: 25vh;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: $white-styled;

background-color: $black-styled;

    box-shadow: 
    inset 5px 5px 10px $dark-gray, 
    inset -5px -5px 10px $black-styled; 
    
    i{
    background-color: $black-styled;
 
    }
    transition: all 400ms;
    cursor: pointer;
    &:hover{
        box-shadow: 
        inset 5px 5px 10px $white-styled, 
        inset -5px -5px 10px $tertiary-low;
    }

}