
.dashboard__container{
    display: grid;
    grid-template-areas:
      'menu main main right right right'
      'menu nothing nothing right right right'
      'menu footer footer footer footer footer';
    grid-gap: 10px;
    padding: 1px;
    background: rgb(51,51,51);
    background: linear-gradient(67deg, rgba(51,51,51,1) 53%, rgba(140,140,140,1) 100%);

}
.dashboard__sidebar{
    grid-area: menu;
    background-color: $dark-gray;
    height: 90vh;
    width: 15vw;
    margin-right: 1rem;
    padding: 1rem;
}
.dashboard__switch{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $primary;
    grid-area: main;
    border-radius: 50%;
    height: 20vh;
    width: 10vw;
    margin: 2rem;
    padding: 1rem;
    border: 2px solid $black-styled;
    cursor: pointer;
    transition: all 400ms;
    box-shadow: -2px -2px 5px $black-styled inset;
    
    &:hover{
        box-shadow: -2px -2px 5px $white-styled inset;
    }
}
.dashboard__programmer{
    grid-area: right;
    margin: 2rem;
    height: 30vh;
    width: 50vw;
    border-radius: 16px;

}
.dashboard__camera{
    overflow: hidden;
    grid-area: footer;
    width: 60vw;
    height: 40vh;
    margin-top: -10vh;
    margin-left: 5rem;
    border: 2px solid $black-styled;
    box-shadow: 2px 2px 5px $black-styled;

}
