.humedad__container{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background-color: $pentakill;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 2px 5px $dark-gray;
    width: 45vw;
    height: 45vh;
}
.humedad__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 22%;
    padding: 0.5rem;
    overflow: hidden;
    i{
        color: $black-gentle;
        font-size: 4ch;
        opacity: 0.8;   
        margin-right: 10rem;
    }
}

.CircularProgressbar{
    width: 6ch !important;
    position:static !important;
    opacity: 0.8 !important;
}
.humedad__chart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $white-styled;
    padding: 2rem;
    width: 100%;
    height: 70%;
    
}
@media(max-width: 850px){
    .humedad__container{
        margin: 0rem;
        padding: 0rem;
        width: 100vw;
        height: 50vh;
        margin-bottom: 1rem;

    }
    .humedad__content{
        width: 100vw;
    }
    .humedad__chart{
        width: 100%;
    }
}