.static__title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black-styled;
    font-weight: bold;
    text-align: center;
    text-shadow: 4px -8px 10px $dark-gray;
    font-size: 7ch;
    padding: 1rem;
    


}

