.static__title{
    display: flex;
    justify-content: center;
    background-color: $primary;
    color: $white-styled;
    font-weight: bold;
    font-size: 3ch;
    text-align: center;
    text-shadow: 0px 0px 35px $primary-low;
    box-shadow: 0px -2px 5px $white-styled inset;
    height: 10vh;

}
.static__switch-container{
    background-color: $primary;
    cursor: pointer;
    h1{
        background-color: $primary;
        color: $white-styled;
    }
}