

.valves__valve-card{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem;
    height: 50vh;
    width: 100%;
    background-color: $white-styled;
    border-radius: 6px;
    box-shadow: 0px 2px 5px $dark-gray;

    }
.valves__valve-card-topbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 30%;
    background-color: $white-styled;
    border-bottom: 2px solid $quaternary;

    h1{
        color: $primary;
        font-size: 3ch;
        margin: 1rem;
        user-select: none;
    }
    i{
        font-size: 2ch;
        margin: 1rem;
        cursor: pointer;
        transition: all 400ms;
        &:hover{
            transform: scale(1.1);
        }
    }
}
.valves__timer-section{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    i{  
        color: $light-gray;  
        top: 25px;  
        right: 15px;
        position: relative;
        align-self: flex-end;
        justify-self: flex-end;
        transition: all 400ms;
        cursor: pointer;
        // color: $light-gray;
        &:hover{
            transform: scale(1.1);
        }
    }

}

.valves__time-form{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 25vw;
    border-bottom: 2px solid  $pentakill;
    border-top: 2px solid  $pentakill;
    border-radius: 6px;
    background-color: $pentakill;
    box-shadow: 0px 0px 0px $white-styled inset;
    transition: all 500ms;

    section{
        display: flex;
        flex-direction: row;
    }
    label{
        
        font-style: oblique;
        margin: 1rem;
        padding: 0.5rem;
        width: 100%;
        margin-right: 2rem;
        color: $light-gray;
        &:nth-child(1){
            margin-right: 1.5rem;
        }
        &:nth-child(2){
            margin-right: 0.9rem;
        }

    }

        
    input[type=submit]{
        width: 100%;
        cursor: pointer;
        box-shadow: 0px 0px 4px $white-styled inset;
        border: none;
        padding: 0.5rem;
        font-style: italic;
        font-weight: bold;
        transition: all 400ms;
        margin: 1rem;
        border-right: 5px solid $pentakill;
        border-left: 5px solid $pentakill;
        box-shadow: -2px -2px 50px $white-styled inset;
        &:hover{
            transform: scale(1.1);
            
        }
    }
}

.valves__selectors{
    div{
        color: $white-styled;
        &:nth-child(2){
            margin-left: 3.5rem;
        }
    }
}

@media(max-width: 850px){
    .valves__valve-card{
        margin: 0px;
        margin-bottom: 1rem;
    }
    .valves__time-form{
        width: 80vw;
    }
}

@media(max-width: 580px){

    .valves__valve-card{

        height: 100vh;

    }
    .valves__timer-section{
        i{
            color: $black-gentle;
            font-size: 3ch;
            right: 50px;
        }
        
    }
}