* {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
html,
body {
	height: 100vh;
	width: 100vw;
	scroll-behavior: smooth; //Volver smooth al top cuando scrolleamos
	background-color:$light-gray;
}

main {
	width: 100%;
}
.active {
	color: $tertiary !important;
}
.inactive {
	color: red!important;
}
.active-hour{
	background-color: $quaternary !important;
	box-shadow: 0px 0px 2px $pentakill inset  !important;
}
.invalid{
	border: 2px solid red;
	
}
//SweetAler
.swal2-icon{
	overflow: hidden !important;
}
//SCROLLBAR


/* width */
::-webkit-scrollbar {

	width: 10px;
	border: 4px solid $primary;
}

/* Track */
::-webkit-scrollbar-track {
	background: $pentakill;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $tertiary;
}


